<h3>Register</h3>
<label>NAME : </label><input type="text" name="name" [(ngModel)]="name">
<br>
<label>LASTNAME : </label><input type="text" name="lastname" [(ngModel)]="lastname">
<br>
<label>EMAIL : </label><input type="text" name="email" [(ngModel)]="email">
<br>
<label>DOCUMENT : </label><input type="text" name="document" [(ngModel)]="document">
<br>
<label>PASSWORD : </label><input type="text" name="password" [(ngModel)]="password">
<br>
<input type="button" value="Sign up" (click)="register()">